.container-form {
    display: flex;
    justify-content: center;
}


.container-form {
    width: 50%;
    background: #ffffff;
    box-shadow: 0px 20px 35px rgba(15, 84, 138, 0.2);
    border-radius: 10px;
    position: absolute;
    top: 10%;
}
